/* landing.css */

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;   /* centers horizontally */
  align-items: center;       /* centers vertically */
}


/* Center the login container */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500px;
  background-color: transparent;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}



/* Button */
.login-container button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 250px;

}

.login-container button:hover {
  background-color: #0056b3;
}
