/* landing.css */

/* Center the login container */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
  background-color: aqua;
}

/* Button */
.login-container button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.login-container button:hover {
  background-color: #0056b3;
}
